S3method("[",fal_list)
S3method("[<-",fal_list)
S3method("[[",fal_list)
S3method("[[<-",fal_list)
S3method(as.list,fal_list)
S3method(names,fal_list)
S3method(print,fal)
export(fal)
importFrom(BBmisc,"%nin%")
importFrom(BBmisc,collapse)
importFrom(BBmisc,is.error)
importFrom(BBmisc,setClasses)
importFrom(BBmisc,stopf)
importFrom(BBmisc,warningf)
