S3method(as.list,fail)
S3method(print,fail)
importFrom(BBmisc,"%nin%")
importFrom(BBmisc,collapse)
importFrom(BBmisc,is.error)
importFrom(BBmisc,setClasses)
importFrom(BBmisc,stopf)
importFrom(BBmisc,warningf)
