S3method(as.list,fail)
S3method(as.list,sail)
S3method(print,fail)
S3method(print,sail)
export(fail)
export(sail)
importFrom(BBmisc,"%nin%")
importFrom(BBmisc,argsAsNamedList)
importFrom(BBmisc,collapse)
importFrom(BBmisc,is.error)
importFrom(BBmisc,isDirectory)
importFrom(BBmisc,names2)
importFrom(BBmisc,setClasses)
importFrom(BBmisc,stopf)
importFrom(BBmisc,warningf)
